th,td{
    padding: 10px;
}
.pagination{
    display: flex;
    margin-top: 10px;
    /* justify-content: center;
    align-items: center; */
}
.pagination>a{  
    padding: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin: 0 5px;
}
.pagination>a.active{
    background-color: black;
    color: white;
}