<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to portal</h1>
    <a href="/admin/users">View Users</a>
    <a href="/admin/Signup">Signup</a>
    <a href="/admin/Login">Login</a>
    <% if(isAuthenticated){ %>
        <a href="/admin/logout">Logout</a>
        <br><br>
        <p>Welcome <%= user.name %>,<br>
        Email: <%= user.email %></p>
    <% } %>
    
</body>
</html>