<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/users.css">
</head>
<body>
    <h1>Welcome to portal</h1>
    <a href="/">Home</a>
    <a href="/admin/Signup">Signup</a>
    <a href="/admin/Login">Login</a>
    <br><br>
    <input type="text" id="search" onchange="search_()"/>
    <table border="1px">
        <tr>
            <th onclick="sort_('name')">Name</th>
            <th onclick="sort_('age')">age</th>
            <th onclick="sort_('email')">E-mail</th>
            <th onclick="sort_('city')">city</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tbody id = "tbody">

            

        </tbody>
    </table>
    <section class="pagination">
        <select id="select" >
            <option value="2" >2</option>
            <option value="5" >5</option>
            <option value="10">10</option>
        </select>
        <button type="submit" onclick="changeno()">Go</button>
        <button onclick="prev()" id="prev_btn"  ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"/></svg></button>
        <p class="crrno" id="page" > </p>
        <button onclick="next()" id="next_btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/></svg></button>
        <item id="item" class="crrno"> 0 - 0</item>

    </section>
    
</body>
<script src="/JS/users.js"></script>
</html>